<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FoodGoodServlet</servlet-name>
        <servlet-class>servlet.FoodGoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUser</servlet-name>
        <servlet-class>servlet.NewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUser</servlet-name>
        <servlet-class>servlet.CrearUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllUsers</servlet-name>
        <servlet-class>servlet.AllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaRestaurantes</servlet-name>
        <servlet-class>servlet.AltaRestaurantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaRestaurante</servlet-name>
        <servlet-class>servlet.AltaRestaurante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaPlato</servlet-name>
        <servlet-class>servlet.AltaPlato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPlato</servlet-name>
        <servlet-class>servlet.NewPlato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValorarPlato</servlet-name>
        <servlet-class>servlet.ValorarPlato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewRate</servlet-name>
        <servlet-class>servlet.NewRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValorarPlatos</servlet-name>
        <servlet-class>servlet.ValorarPlatos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FoodGoodServlet</servlet-name>
        <url-pattern>/FoodGoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/NewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUser</servlet-name>
        <url-pattern>/CrearUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllUsers</servlet-name>
        <url-pattern>/AllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaRestaurantes</servlet-name>
        <url-pattern>/AltaRestaurantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaRestaurante</servlet-name>
        <url-pattern>/AltaRestaurante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaPlato</servlet-name>
        <url-pattern>/AltaPlato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPlato</servlet-name>
        <url-pattern>/NewPlato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValorarPlato</servlet-name>
        <url-pattern>/ValorarPlato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewRate</servlet-name>
        <url-pattern>/NewRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValorarPlatos</servlet-name>
        <url-pattern>/ValorarPlatos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
